{% load i18n %}

{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}


    
    <title>Task manager Hexlet</title>
  </head>
    <body>
      {% include 'includes/navbar.html' %}
      
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto my-2">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>

      {% block bootstrap4_content %}{% endblock%}

      {% include 'includes/footer.html' %}

    </body>
</html>